
body {
  background-color: #222;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url('http://www.modafinilsale.com/data/out/571/229896767-blur-picture.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 600px;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#countdown-text {
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

div.bg{
  top: 5%;
  left: -1.75%;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('https://raw.githubusercontent.com/Thinkful/bootcamp-finder/master/bootcamps/flatiron-school/logo.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 30% 28%;
  opacity: 0.6;
  z-index: 99;
}

h1.header {
  position: absolute;
  left: 7.5%;
  color: white;
  font-size: 54px;
  top: 48%;
}

h2.banner-content{
  color: white;
  font-family: Orbitron;
  opacity: 0.8;
  margin-top: 2%;
  text-align: center;
}

div.banner-holder{
  margin-top: 5%;
}

.column {
  text-align: center;
  color: white;
  font-size: 48px;
  margin-left: 0;
  margin-right: 0;
  min-width: 180px;
  width: fit-content;
}

.ui.four.column.grid{
  margin-top: 25%;
  margin-left: 18%;
  margin-right: 20%;
  opacity: 0.85
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

div.column-ticker{
  font-size: 100px;
  font-family: 'Orbitron', sans-serif;
  opacity: 0.85;
  margin: 0;
}

div.border-bottom{
  margin-left: 30%;
  border-bottom: 2px solid white;
  width: 40%;
  margin-bottom: 2%;
  opacity: 0.75;
}

div.column-ticker-secondary{
  font-size: 24px;
  font-family: 'Orbitron', sans-serif;
  opacity: 0.75;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.fadeIn{
  animation-duration: 5s;
}

@keyframes colorPulseImg {
  0%   { filter: drop-shadow(0px 0px 60px #FF1111); }
  20%  { filter: drop-shadow(0px 0px 60px #FF1111); }
  25%  { filter: drop-shadow(0px 0px 60px #FF1111); }
  30%   { filter: drop-shadow(0px 0px 60px #FF1111); }
  40%  { filter: drop-shadow(0px 0px 60px #1177FF); }
  45%  { filter: drop-shadow(0px 0px 60px #1177FF); }
  50%   { filter: drop-shadow(0px 0px 60px #FF1111); }
  60%  { filter: drop-shadow(0px 0px 60px #BB6600); }
  65%  { filter: drop-shadow(0px 0px 60px #FF9922); }
  70%   { filter: drop-shadow(0px 0px 60px #FF1111); }
  80%  { filter: drop-shadow(0px 0px 60px #22FF22); }
  85%  { filter: drop-shadow(0px 0px 60px #22FF22); }
  90%   { filter: drop-shadow(0px 0px 60px #FF1111); }
}

@keyframes colorShiftImg {
  0%   { filter: drop-shadow(0px 0px 0px #FF1111); }
  20%  { filter: drop-shadow(0px 0px 100px #FF1111); }
  30%  { filter: drop-shadow(0px 0px 100px #1177FF); }
  40%  { filter: drop-shadow(0px 0px 100px #1177FF); }
  50%  { filter: drop-shadow(0px 0px 100px #FF9922); }
  60%  { filter: drop-shadow(0px 0px 100px #FF9922); }
  70%  { filter: drop-shadow(0px 0px 100px #22FF22); }
  80%  { filter: drop-shadow(0px 0px 100px #22FF22); }
  90%  { filter: drop-shadow(0px 0px 100px #11FFFF); }
  100%  { filter: drop-shadow(0px 0px 100px #11FFFF); }
}

.shadowfilter {
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;

}.shadowfilter:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 232, 0.8));
}

.hidden {
  display: none;
}
